  <script>
    // You can also use "$(window).load(function() {"
    $(function () {
      $("#slider2").responsiveSlides({
        auto: false,
        pager: true,
        nav: true,
        speed: 500,
        maxwidth: 700,
        namespace: "transparent-btns"
      });
    });
  </script>
  <% provide(:title, 'Arch In Touch - Portfolio') %>

    <div class="wrapper">
      <div class="mainlogo-show">
      <a href="#"><%=link_to image_tag("mainlogo.png", class: "mainlogo-pic", width: '150'), controller: "static_pages", action: "home" %></a>
      </div>
      <div class="rslides_container">
        <ul class="rslides" id="slider2">
          <% @project.pictures.each do |picture| %>
          <li><%=image_tag(picture.photo)%></li>
          <% end %>
        </ul>
      </div>
      <div class="text-wrapper">
        <div class="text-wrapper-left">
        <p><span>Name:</span> <%= @project.name %></br>
        <span>Location:</span> <%= @project.location %></br>
        <span>Size:</span><%= @project.size %> м<sup>2</sup></br>
        <span>Year:</span><%= @project.year %></br>
        <span>Status:</span><%= @project.status %></br></p>
        </div>
        <p class="text-description">
          <%= @project.description %>
        </p>
      </div>
    </div>
    <div class="menu-show">
          <div class="menu-item-show"><a href='<%= root_path %>#who-we-are'>WHO WE ARE</a></div>
          <div class="menu-item-show"><a href='<%= root_path %>#portfolio'>PORTFOLIO</a></div>
          <div class="menu-item-show"><a href='<%= root_path %>#our-team'>OUR TEAM</a></div>
          <div class="menu-item-show"><a href='<%= root_path %>#contacts'>GET IN TOUCH</a></div>
        </div>
        <a class="follow-fb" href="https://www.facebook.com/sharer.php?u=http://archintouch.com"><%= image_tag("Facebook.png", class:"follow") %></a>
        <a class= "follow-i"href="https://www.instagram.com/archintouch/"><%= image_tag("instagram.png", class:"follow") %></a>
